## Limpeza de dados Cartola ano 2015

In [26]:
from pyspark.sql import HiveContext
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import lower, col, lit, regexp_replace
from pyspark.sql.functions import lit
import pandas as pd
import json
import requests

## Jogadores

In [27]:
#Carrega arquivo CSV
jogadores_2015_df = spark.read.option("encoding", "UTF-8").csv("/cartola/data/2015/2015_jogadores.csv", header=True)
sorted_jogadores_2015_df = jogadores_2015_df.sort(jogadores_2015_df.ID.desc())

In [28]:
#Adiciona coluna ANO = 2015
#Clube ID está como NA????
jogadores_2015_ano = sorted_jogadores_2015_df.withColumn('ano', lit(2015))
jogadores_2015_ano.show()

+-----+-----------------+-------+---------+----+
|   ID|          Apelido|ClubeID|PosicaoID| ano|
+-----+-----------------+-------+---------+----+
|93378|          Augusto|     NA|        3|2015|
|93377|           Jobson|     NA|        4|2015|
|93376|     Wesley Souza|     NA|        4|2015|
|93368|  Lucas Veríssimo|     NA|        3|2015|
|93317|  Diogo Giacomini|     NA|        6|2015|
|93283|          Rafinha|     NA|        4|2015|
|93282|            Fabio|     NA|        4|2015|
|93281|          Adriano|     NA|        5|2015|
|93153|      Pachequinho|     NA|        6|2015|
|93152|          Tontini|     NA|        4|2015|
|93151|    Thiago Santos|     NA|        5|2015|
|93108|     Mateus Vital|     NA|        4|2015|
|93028|     Danny Sergio|     NA|        6|2015|
|92981|          Ronaldo|     NA|        4|2015|
|92901|   Felipe Moreira|     NA|        6|2015|
|92848|     Breno Santos|     NA|        2|2015|
|92841|Fernando Medeiros|     NA|        4|2015|
|92837|    Sergio Vieira|     NA|        6|2015|
|92811|  Bruno Rodrigues|     NA|        5|2015|
|92764|       Bruno Baio|     NA|        5|2015|
+-----+-----------------+-------+---------+----+
only showing top 20 rows

In [29]:
jogadores_2015_ano.write.parquet('/cartola/clean/jogadores/2015')

In [30]:
#transforma arquivo em parquet
jogadores_2015_parquet = spark.read.parquet('/cartola/clean/jogadores/*')

In [31]:
jogadores_2015_parquet.show()
jogadores_2015_parquet.schema

+-----+--------------------+-------+---------+----+
|   ID|             Apelido|ClubeID|PosicaoID| ano|
+-----+--------------------+-------+---------+----+
|51683|        Bruno Rangel|    315|        5|2014|
|51705|       Bruno Rodrigo|    283|        3|2014|
|51772|     Éverton Ribeiro|    283|        4|2014|
|51779|       Pedro Botelho|    282|        2|2014|
|51781|               Ávine|    265|        2|2014|
|51985|      Anderson Pedra|    292|        4|2014|
|41387|       Eduardo Costa|    314|        4|2015|
|41327|Vanderlei Luxemburgo|    262|        6|2015|
|41258|     Adilson Batista|     NA|        6|2015|
|41218|              Magrão|    292|        1|2015|
|41159|         João Carlos|     NA|        3|2015|
|68945|              Saimon|     NA|        3|2015|
|68938|    Giovanni Augusto|    282|        4|2015|
|68932|       Renan Ribeiro|    276|        1|2015|
|68929|      Thiago Ribeiro|    282|        5|2015|
|68928|              Rafael|    283|        1|2015|
|68925|      Leonardo Silva|    282|        3|2015|
|70058|          Tiago Real|    290|        4|2014|
|70106|              Mouche|    275|        5|2014|
|70111|    Guilherme Mattis|    266|        3|2014|
+-----+--------------------+-------+---------+----+
only showing top 20 rows

StructType(List(StructField(ID,StringType,true),StructField(Apelido,StringType,true),StructField(ClubeID,StringType,true),StructField(PosicaoID,StringType,true),StructField(ano,IntegerType,true)))

In [32]:
#Alterar ID para int.(está string)
jogadores_2015_parquet = jogadores_2015_parquet.withColumn("ID", jogadores_2015_parquet["ID"].cast(IntegerType()))
jogadores_2015_parquet = jogadores_2015_parquet.withColumn("ClubeID", jogadores_2015_parquet["ClubeID"].cast(IntegerType()))
jogadores_2015_parquet = jogadores_2015_parquet.withColumn("PosicaoID", jogadores_2015_parquet["PosicaoID"].cast(IntegerType()))

In [33]:
jogadores_2015_parquet.schema

StructType(List(StructField(ID,IntegerType,true),StructField(Apelido,StringType,true),StructField(ClubeID,IntegerType,true),StructField(PosicaoID,IntegerType,true),StructField(ano,IntegerType,true)))

In [34]:
jogadores_2015_parquet.show()

print(jogadores_2015_parquet.count())

+-----+--------------------+-------+---------+----+
|   ID|             Apelido|ClubeID|PosicaoID| ano|
+-----+--------------------+-------+---------+----+
|51683|        Bruno Rangel|    315|        5|2014|
|51705|       Bruno Rodrigo|    283|        3|2014|
|51772|     Éverton Ribeiro|    283|        4|2014|
|51779|       Pedro Botelho|    282|        2|2014|
|51781|               Ávine|    265|        2|2014|
|51985|      Anderson Pedra|    292|        4|2014|
|41387|       Eduardo Costa|    314|        4|2015|
|41327|Vanderlei Luxemburgo|    262|        6|2015|
|41258|     Adilson Batista|   null|        6|2015|
|41218|              Magrão|    292|        1|2015|
|41159|         João Carlos|   null|        3|2015|
|68945|              Saimon|   null|        3|2015|
|68938|    Giovanni Augusto|    282|        4|2015|
|68932|       Renan Ribeiro|    276|        1|2015|
|68929|      Thiago Ribeiro|    282|        5|2015|
|68928|              Rafael|    283|        1|2015|
|68925|      Leonardo Silva|    282|        3|2015|
|70058|          Tiago Real|    290|        4|2014|
|70106|              Mouche|    275|        5|2014|
|70111|    Guilherme Mattis|    266|        3|2014|
+-----+--------------------+-------+---------+----+
only showing top 20 rows

2059

## Partidas_IDS (temos partidas como NA)

In [108]:
partidas_ids_2015_df = spark.read.option("encoding", "UTF-8").csv("/cartola/data/2015/2015_partidas_ids.csv", header=True)

In [109]:
partidas_ids_2015_ano = partidas_ids_2015_df.withColumn('ano', lit(2015))

In [110]:
partidas_ids_2015_ano.show(100)

+------+------+------+-----------+----------+---------------+---------+----+
|    ID|Rodada|CasaID|VisitanteID|PlacarCasa|PlacarVisitante|Resultado| ano|
+------+------+------+-----------+----------+---------------+---------+----+
|190053|     1|   276|        262|         2|              1|     Casa|2015|
|190054|     1|   275|        282|         2|              2|   Empate|2015|
|190055|     1|   266|        317|         1|              0|     Casa|2015|
|190056|     1|   267|        290|         0|              0|   Empate|2015|
|190057|     1|   284|        303|         3|              3|   Empate|2015|
|190058|     1|   283|        264|         0|              1|Visitante|2015|
|190059|     1|   314|        277|         1|              1|   Empate|2015|
|190060|     1|   293|        285|         3|              0|     Casa|2015|
|190061|     1|   292|        316|         4|              1|     Casa|2015|
|190062|     1|   315|        294|         2|              1|     Casa|2015|
|190063|     2|   264|        315|         1|              0|     Casa|2015|
|190064|     2|   277|        283|         1|              0|     Casa|2015|
|190065|     2|   303|        276|         1|              0|     Casa|2015|
|190066|     2|   262|        292|         2|              2|   Empate|2015|
|190067|     2|   285|        314|         1|              0|     Casa|2015|
|190068|     2|   282|        266|         4|              1|     Casa|2015|
|190069|     2|   316|        267|         0|              0|   Empate|2015|
|190070|     2|   294|        284|         2|              0|     Casa|2015|
|190071|     2|   290|        293|         2|              0|     Casa|2015|
|190072|     2|   317|        275|         0|              0|   Empate|2015|
|190073|     3|   276|        317|         3|              0|     Casa|2015|
|190074|     3|   275|        290|         0|              1|Visitante|2015|
|190075|     3|   266|        264|         0|              0|   Empate|2015|
|190076|     3|   267|        285|         1|              1|   Empate|2015|
|190077|     3|   284|        316|         1|              0|     Casa|2015|
|190078|     3|   283|        303|         1|              1|   Empate|2015|
|190079|     3|   314|        262|         2|              1|     Casa|2015|
|190080|     3|   293|        282|         1|              0|     Casa|2015|
|190081|     3|   292|        294|         1|              0|     Casa|2015|
|190082|     3|   315|        277|         1|              0|     Casa|2015|
|190083|     4|   264|        275|         0|              2|Visitante|2015|
|190084|     4|   277|        292|         2|              2|   Empate|2015|
|190085|     4|   303|        315|         3|              1|     Casa|2015|
|190086|     4|   262|        266|         2|              3|Visitante|2015|
|190087|     4|   285|        276|         0|              0|   Empate|2015|
|190088|     4|   282|        267|         3|              0|     Casa|2015|
|190089|     4|   316|        283|         2|              1|     Casa|2015|
|190090|     4|   294|        314|         1|              2|Visitante|2015|
|190091|     4|   290|        284|         1|              1|   Empate|2015|
|190092|     4|   317|        293|         1|              2|Visitante|2015|
|190093|     5|   276|        277|         3|              2|     Casa|2015|
|190094|     5|   275|        285|         1|              1|   Empate|2015|
|190095|     5|   266|        294|         2|              0|     Casa|2015|
|190096|     5|   267|        303|         0|              3|Visitante|2015|
|190097|     5|   284|        264|         3|              1|     Casa|2015|
|190098|     5|   283|        262|         1|              0|     Casa|2015|
|190099|     5|   314|        282|         1|              4|Visitante|2015|
|190100|     5|   293|        316|         1|              0|     Casa|2015|
|190101|     5|   292|        290|         1|              0|     Casa|2015|
|190102|     5|   315|        317|         2|              0|     Casa|2015|
|190103|     6|   276|        284|         2|              0|     Casa|2015|
|190104|     6|   277|        303|         2|              2|   Empate|2015|
|190105|     6|   266|        292|         0|              0|   Empate|2015|
|190106|     6|   262|        315|         1|              0|     Casa|2015|
|190107|     6|   285|        294|         2|              0|     Casa|2015|
|190108|     6|   282|        283|         1|              3|Visitante|2015|
|190109|     6|   316|        275|         2|              1|     Casa|2015|
|190110|     6|   293|        267|         2|              0|     Casa|2015|
|190111|     6|   290|        314|         0|              1|Visitante|2015|
|190112|     6|   317|        264|         0|              1|Visitante|2015|
|190113|     7|   264|        285|         2|              1|     Casa|2015|
|190114|     7|   275|        266|         2|              1|     Casa|2015|
|190115|     7|   303|        290|         0|              0|   Empate|2015|
|190116|     7|   267|        283|         1|              3|Visitante|2015|
|190117|     7|   284|        293|         2|              1|     Casa|2015|
|190118|     7|   282|        277|         2|              2|   Empate|2015|
|190119|     7|   314|        316|         1|              1|   Empate|2015|
|190120|     7|   294|        262|         0|              1|Visitante|2015|
|190121|     7|   292|        317|         2|              1|     Casa|2015|
|190122|     7|   315|        276|         0|              1|Visitante|2015|
|190123|     8|   276|        314|         1|              1|   Empate|2015|
|190124|     8|   277|        264|         1|              0|     Casa|2015|
|190125|     8|   266|        303|         2|              0|     Casa|2015|
|190126|     8|   262|        282|         0|              2|Visitante|2015|
|190127|     8|   284|        275|         1|              0|     Casa|2015|
|190128|     8|   283|        315|         0|              1|Visitante|2015|
|190129|     8|   316|        285|         0|              0|   Empate|2015|
|190130|     8|   293|        294|         2|              2|   Empate|2015|
|190131|     8|   292|        267|         2|              1|     Casa|2015|
|190132|     8|   317|        290|         2|              1|     Casa|2015|
|190133|     9|   264|        316|         2|              1|     Casa|2015|
|190134|     9|   275|        276|         4|              0|     Casa|2015|
|190135|     9|   303|        293|         2|              1|     Casa|2015|
|190136|     9|   267|        262|         1|              0|     Casa|2015|
|190137|     9|   285|        277|         1|              0|     Casa|2015|
|190138|     9|   282|        317|         1|              0|     Casa|2015|
|190140|     9|   314|        284|         1|              2|Visitante|2015|
|190141|     9|   294|        283|         1|              0|     Casa|2015|
|190142|     9|   290|        266|         1|              2|Visitante|2015|
|190143|     9|   315|        292|         1|              1|   Empate|2015|
|190144|    10|   264|        303|         2|              0|     Casa|2015|
|190145|    10|   275|        315|         2|              0|     Casa|2015|
|190146|    10|   266|        277|         2|              1|     Casa|2015|
|190147|    10|   267|        314|         1|              0|     Casa|2015|
|190148|    10|   284|        283|         1|              0|     Casa|2015|
|190149|    10|   282|        294|         2|              0|     Casa|2015|
|190150|    10|   316|        290|         3|              1|     Casa|2015|
|190151|    10|   293|        276|         2|              1|     Casa|2015|
|190152|    10|   292|        285|         3|              0|     Casa|2015|
|190153|    10|   317|        262|         0|              1|Visitante|2015|
+------+------+------+-----------+----------+---------------+---------+----+
only showing top 100 rows

In [111]:
partidas_ids_2015_ano.write.parquet('/cartola/clean/partidas_ids/2015')

In [112]:
partidas_ids_2015_parquet = spark.read.parquet('/cartola/clean/partidas_ids/*')

In [113]:
partidas_ids_2015_parquet.show(100)
partidas_ids_2015_parquet.schema

+------+------+------+-----------+----------+---------------+---------+----+
|    ID|Rodada|CasaID|VisitanteID|PlacarCasa|PlacarVisitante|Resultado| ano|
+------+------+------+-----------+----------+---------------+---------+----+
|179872|     1|   262|        290|         0|              0|   Empate|2014|
|179873|     1|   266|        316|         3|              0|     Casa|2014|
|179874|     1|   276|        263|         3|              0|     Casa|2014|
|179875|     1|   277|        292|         1|              1|   Empate|2014|
|179876|     1|   293|        284|         1|              0|     Casa|2014|
|179877|     1|   282|        264|         0|              0|   Empate|2014|
|179878|     1|   265|        283|         1|              2|Visitante|2014|
|179879|     1|   285|        287|         1|              0|     Casa|2014|
|179880|     1|   288|        275|         1|              2|Visitante|2014|
|179881|     1|   315|        294|         0|              0|   Empate|2014|
|179882|     2|   263|        285|         2|              2|   Empate|2014|
|179883|     2|   292|        315|         2|              1|     Casa|2014|
|179884|     2|   264|        262|         2|              0|     Casa|2014|
|179885|     2|   275|        266|         0|              1|Visitante|2014|
|179886|     2|   294|        277|         0|              0|   Empate|2014|
|179887|     2|   283|        276|         1|              1|   Empate|2014|
|179888|     2|   287|        293|         2|              2|   Empate|2014|
|179889|     2|   284|        282|         2|              1|     Casa|2014|
|179890|     2|   316|        265|         0|              2|Visitante|2014|
|179891|     2|   290|        288|         1|              0|     Casa|2014|
|179892|    20|   263|        276|         2|              4|Visitante|2014|
|179893|     3|   262|        275|         4|              2|     Casa|2014|
|179894|     3|   266|        287|         1|              2|Visitante|2014|
|179895|    20|   292|        277|         3|              1|     Casa|2014|
|179896|     3|   276|        294|         2|              2|   Empate|2014|
|179897|     3|   277|        284|         0|              0|   Empate|2014|
|179898|     3|   293|        283|         2|              3|Visitante|2014|
|179899|    20|   264|        282|         1|              0|     Casa|2014|
|179900|    20|   275|        288|         1|              0|     Casa|2014|
|179901|     3|   282|        290|         0|              1|Visitante|2014|
|179902|    20|   294|        315|         3|              0|     Casa|2014|
|179903|     3|   265|        263|         1|              0|     Casa|2014|
|179904|     3|   285|        292|         2|              1|     Casa|2014|
|179905|    20|   283|        265|         2|              1|     Casa|2014|
|179906|     3|   288|        316|         1|              0|     Casa|2014|
|179907|    20|   287|        285|         2|              0|     Casa|2014|
|179908|     3|   315|        264|         0|              1|Visitante|2014|
|179909|     4|   263|        288|         6|              0|     Casa|2014|
|179910|    20|   284|        293|         1|              0|     Casa|2014|
|179911|     4|   266|        262|         2|              0|     Casa|2014|
|179912|    20|   316|        266|         1|              1|   Empate|2014|
|179913|     4|   276|        264|         1|              1|   Empate|2014|
|179914|    20|   290|        262|         1|              0|     Casa|2014|
|179915|     4|   275|        290|         2|              0|     Casa|2014|
|179916|    21|   262|        264|         1|              0|     Casa|2014|
|179917|     4|   294|        292|         0|              1|Visitante|2014|
|179918|     4|   282|        283|         2|              1|     Casa|2014|
|179919|    21|   266|        275|         3|              0|     Casa|2014|
|179920|     4|   265|        287|         1|              1|   Empate|2014|
|179921|    21|   276|        283|         2|              0|     Casa|2014|
|179922|     4|   285|        293|         2|              1|     Casa|2014|
|179923|     4|   316|        277|         0|              2|Visitante|2014|
|179924|    21|   277|        294|         2|              1|     Casa|2014|
|179925|     4|   315|        284|         1|              2|Visitante|2014|
|179926|    21|   293|        287|         2|              0|     Casa|2014|
|179927|     5|   262|        276|         0|              2|Visitante|2014|
|179928|     5|   292|        265|         1|              0|     Casa|2014|
|179929|    21|   282|        284|         0|              0|   Empate|2014|
|179930|     5|   264|        316|         0|              1|Visitante|2014|
|179931|    21|   265|        316|         3|              0|     Casa|2014|
|179932|    21|   285|        263|         2|              0|     Casa|2014|
|179933|    21|   288|        290|         1|              0|     Casa|2014|
|179934|     5|   277|        282|         1|              2|Visitante|2014|
|179935|    21|   315|        292|         3|              1|     Casa|2014|
|179936|     5|   293|        315|         1|              1|   Empate|2014|
|179937|     5|   283|        294|         3|              2|     Casa|2014|
|179938|    22|   263|        265|         2|              3|Visitante|2014|
|179939|     5|   287|        275|         0|              1|Visitante|2014|
|179940|    22|   292|        285|         0|              0|   Empate|2014|
|179941|    22|   264|        315|         1|              1|   Empate|2014|
|179942|     5|   284|        266|         1|              0|     Casa|2014|
|179943|     5|   288|        285|         0|              0|   Empate|2014|
|179944|     5|   290|        263|         2|              0|     Casa|2014|
|179945|    22|   275|        262|         2|              2|   Empate|2014|
|179946|     6|   262|        265|         1|              1|   Empate|2014|
|179947|    22|   294|        276|         3|              1|     Casa|2014|
|179948|     6|   266|        276|         5|              2|     Casa|2014|
|179949|     6|   264|        293|         1|              1|   Empate|2014|
|179950|     6|   275|        316|         1|              0|     Casa|2014|
|179951|    22|   283|        293|         2|              0|     Casa|2014|
|179952|     6|   294|        285|         1|              1|   Empate|2014|
|179954|    22|   284|        277|         0|              0|   Empate|2014|
|179955|    22|   316|        288|         1|              1|   Empate|2014|
|179956|     6|   283|        292|         2|              0|     Casa|2014|
|179957|    22|   290|        282|         2|              3|Visitante|2014|
|179958|     6|   287|        282|         2|              3|Visitante|2014|
|179959|     6|   284|        263|         2|              1|     Casa|2014|
|179960|    23|   262|        266|         1|              1|   Empate|2014|
|179961|     6|   288|        315|         1|              0|     Casa|2014|
|179962|    23|   292|        294|         1|              0|     Casa|2014|
|179963|     6|   290|        277|         2|              2|   Empate|2014|
|179964|    23|   264|        276|         3|              2|     Casa|2014|
|179965|     7|   263|        287|         1|              1|   Empate|2014|
|179966|    23|   277|        316|         3|              1|     Casa|2014|
|179967|    23|   293|        285|         0|              1|Visitante|2014|
|179968|    23|   283|        282|         2|              3|Visitante|2014|
|179969|    23|   287|        265|         2|              1|     Casa|2014|
|179970|    23|   284|        315|         1|              0|     Casa|2014|
|179971|     7|   292|        264|         1|              4|Visitante|2014|
|179972|    23|   288|        263|         1|              1|   Empate|2014|
+------+------+------+-----------+----------+---------------+---------+----+
only showing top 100 rows

StructType(List(StructField(ID,StringType,true),StructField(Rodada,StringType,true),StructField(CasaID,StringType,true),StructField(VisitanteID,StringType,true),StructField(PlacarCasa,StringType,true),StructField(PlacarVisitante,StringType,true),StructField(Resultado,StringType,true),StructField(ano,IntegerType,true)))

In [115]:
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("ID", partidas_ids_2015_parquet["ID"].cast(IntegerType()))
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("Rodada", partidas_ids_2015_parquet["Rodada"].cast(IntegerType()))
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("CasaID", partidas_ids_2015_parquet["CasaID"].cast(IntegerType()))
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("VisitanteID", partidas_ids_2015_parquet["VisitanteID"].cast(IntegerType()))
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("PlacarCasa", partidas_ids_2015_parquet["PlacarCasa"].cast(IntegerType()))
partidas_ids_2015_parquet = partidas_ids_2015_parquet.withColumn("PlacarVisitante", partidas_ids_2015_parquet["PlacarVisitante"].cast(IntegerType()))

In [116]:
partidas_ids_2015_parquet.show()

print(partidas_ids_2015_parquet.count())

+------+------+------+-----------+----------+---------------+---------+----+
|    ID|Rodada|CasaID|VisitanteID|PlacarCasa|PlacarVisitante|Resultado| ano|
+------+------+------+-----------+----------+---------------+---------+----+
|179872|     1|   262|        290|         0|              0|   Empate|2014|
|179873|     1|   266|        316|         3|              0|     Casa|2014|
|179874|     1|   276|        263|         3|              0|     Casa|2014|
|179875|     1|   277|        292|         1|              1|   Empate|2014|
|179876|     1|   293|        284|         1|              0|     Casa|2014|
|179877|     1|   282|        264|         0|              0|   Empate|2014|
|179878|     1|   265|        283|         1|              2|Visitante|2014|
|179879|     1|   285|        287|         1|              0|     Casa|2014|
|179880|     1|   288|        275|         1|              2|Visitante|2014|
|179881|     1|   315|        294|         0|              0|   Empate|2014|
|179882|     2|   263|        285|         2|              2|   Empate|2014|
|179883|     2|   292|        315|         2|              1|     Casa|2014|
|179884|     2|   264|        262|         2|              0|     Casa|2014|
|179885|     2|   275|        266|         0|              1|Visitante|2014|
|179886|     2|   294|        277|         0|              0|   Empate|2014|
|179887|     2|   283|        276|         1|              1|   Empate|2014|
|179888|     2|   287|        293|         2|              2|   Empate|2014|
|179889|     2|   284|        282|         2|              1|     Casa|2014|
|179890|     2|   316|        265|         0|              2|Visitante|2014|
|179891|     2|   290|        288|         1|              0|     Casa|2014|
+------+------+------+-----------+----------+---------------+---------+----+
only showing top 20 rows

760

## scouts_raw

In [136]:
scouts_raw_2015_df = spark.read.option("encoding", "UTF-8").csv("/cartola/data/2015/2015_scouts_raw.csv", header=True)

In [137]:
scouts_raw_2015_ano = scouts_raw_2015_df.withColumn('ano', lit(2015))

In [138]:
scouts_raw_2015_ano.show()

+------+-------+--------+-----+------+-----------+-----+-------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
|Rodada|ClubeID|AtletaID|Jogos|Pontos|PontosMedia|Preco|PrecoVariacao| FS| PE|  A| FT| FD| FF|  G|  I| PP| RB| FC| GC| CA| CV| SG| DD| DP| GS| ano|
+------+-------+--------+-----+------+-----------+-----+-------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
|     0|    262|   81219|    0|     0|          0|    1|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   88072|    0|     0|          0|    1|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   89258|    0|     0|          0|    1|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   91263|    0|     0|          0|    1|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   74103|    0|     0|          0|    2|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   78895|    0|     0|          0|    2|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   88065|    0|     0|          0|    2|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   81121|    0|     0|          0|    3|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   91264|    0|     0|          0|    3|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   78086|    0|     0|          0|    4|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   68873|    0|     0|          0|    5|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   37993|    0|     0|          0|    6|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   68962|    0|     0|          0|    6|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   69268|    0|     0|          0|    6|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   74060|    0|     0|          0|    6|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   80913|    0|     0|          0|    6|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   50453|    0|     0|          0|    7|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   72491|    0|     0|          0|    7|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   73515|    0|     0|          0|    7|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
|     0|    262|   62086|    0|     0|          0|    8|            0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|2015|
+------+-------+--------+-----+------+-----------+-----+-------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
only showing top 20 rows

In [139]:
# Removendo colunas
scouts_raw_2015_ano = scouts_raw_2015_ano.drop('PrecoVariacao', 'Mando', 'Titular', 'Substituido', 'TempoJogado', 'FS', 'PE', 'A', 'FT', 'FD', 'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS')

In [148]:
# remove todas as linhas com rodada == 0
scouts_raw_2015_ano_clean = scouts_raw_2015_ano[scouts_raw_2015_ano['Rodada'] > 0]

In [149]:
scouts_raw_2015_ano_clean.toPandas()

      Rodada ClubeID AtletaID Jogos Pontos PontosMedia  Preco   ano
0          1     262    81121     1   -2.3        -2.3   0.79  2015
1          1     262    81219     0      0           0      1  2015
2          1     262    88072     0      0           0      1  2015
3          1     262    89258     0      0           0      1  2015
4          1     262    91263     0      0           0      1  2015
...      ...     ...      ...   ...    ...         ...    ...   ...
29715     37     317    68910    29   -0.6        3.08   8.16  2015
29716     37     317    41859    29      0        2.41   8.29  2015
29717     37     317    73528    34      0        2.06   8.52  2015
29718     37     317    37187    23   0.48        2.82   10.4  2015
29719     37     317    72731     6      0        3.55  15.92  2015

[29720 rows x 8 columns]

In [150]:
scouts_raw_2015_ano_clean.write.parquet('/cartola/clean/scouts_raw/2015')

In [151]:
scouts_raw_2015_parquet = spark.read.parquet('/cartola/clean/scouts_raw/*')

In [152]:
scouts_raw_2015_parquet.schema
scouts_raw_2015_parquet.toPandas()

      AtletaID Rodada ClubeID Pontos PontosMedia Preco   ano
0        81121      1     262   -2.3        -2.3  0.79  2015
1        81219      1     262      0           0     1  2015
2        88072      1     262      0           0     1  2015
3        89258      1     262      0           0     1  2015
4        91263      1     262      0           0     1  2015
...        ...    ...     ...    ...         ...   ...   ...
60509    89924     38    None      0        -0.8  0.81  2014
60510    84794     38     293    0.9         0.9  1.24  2014
60511    89815     38     285      1        0.25     1  2014
60512    82639     38     284      0           0     1  2014
60513    89975     38     282      0           0     1  2014

[60514 rows x 7 columns]

## Times

In [97]:
times_2015_df = spark.read.csv("/cartola/data/2015/2015_times.csv", header=True)

In [98]:
sorted_times_2015_df = times_2015_df.sort(times_2015_df.ID.asc())

In [99]:
times_2015_ano = times_2015_df.withColumn('ano', lit(2015))
times_2015_ano.toPandas()

     ID           Nome Abreviacao           Slug   ano
0   262       Flamengo        fla       flamengo  2015
1   264    Corinthians        cor    corinthians  2015
2   266     Fluminense        flu     fluminense  2015
3   267          Vasco        vas          vasco  2015
4   275      Palmeiras        pal      palmeiras  2015
5   276      São Paulo        sao      sao-paulo  2015
6   277         Santos        san         santos  2015
7   282    Atlético-MG        cam    atletico-mg  2015
8   283       Cruzeiro        cru       cruzeiro  2015
9   284         Grêmio        gre         gremio  2015
10  285  Internacional        int  internacional  2015
11  290          Goiás        goi          goias  2015
12  292          Sport        spo          sport  2015
13  293    Atlético-PR        cap    atletico-pr  2015
14  294       Coritiba        cfc       coritiba  2015
15  303    Ponte Preta        pon    ponte-preta  2015
16  314           Avaí        ava           avai  2015
17  315    Chapecoense        cha    chapecoense  2015
18  316    Figueirense        fig    figueirense  2015
19  317      Joinville        jec      joinville  2015

In [100]:
times_2015_ano.write.parquet('/cartola/clean/times/2015')

In [101]:
times_2015_parquet = spark.read.parquet('/cartola/clean/times/*')

In [102]:
times_2015_parquet.show(100)
times_2015_parquet.schema

#Alterar ID para int.(está string)

+---+-------------+----------+-------------+----+
| ID|         Nome|Abreviacao|         Slug| ano|
+---+-------------+----------+-------------+----+
|262|     flamengo|       FLA|     flamengo|2014|
|263|     botafogo|       BOT|     botafogo|2014|
|264|  corinthians|       COR|  corinthians|2014|
|265|        bahia|       BAH|        bahia|2014|
|266|   fluminense|       FLU|   fluminense|2014|
|275|    palmeiras|       PAL|    palmeiras|2014|
|276|    são paulo|       SAO|    sao-paulo|2014|
|277|       santos|       SAN|       santos|2014|
|282|  atlético-mg|       CAM|  atletico-mg|2014|
|283|     cruzeiro|       CRU|     cruzeiro|2014|
|284|       grêmio|       GRE|       gremio|2014|
|285|internacional|       INT|internacional|2014|
|287|      vitória|       VIT|      vitoria|2014|
|288|     criciúma|       CRI|     criciuma|2014|
|290|        goiás|       GOI|        goias|2014|
|292|        sport|       SPO|        sport|2014|
|293|  atlético-pr|       CAP|  atletico-pr|2014|
|294|     coritiba|       CFC|     coritiba|2014|
|315|  chapecoense|       CHA|  chapecoense|2014|
|316|  figueirense|       FIG|  figueirense|2014|
|262|     Flamengo|       fla|     flamengo|2015|
|264|  Corinthians|       cor|  corinthians|2015|
|266|   Fluminense|       flu|   fluminense|2015|
|267|        Vasco|       vas|        vasco|2015|
|275|    Palmeiras|       pal|    palmeiras|2015|
|276|    São Paulo|       sao|    sao-paulo|2015|
|277|       Santos|       san|       santos|2015|
|282|  Atlético-MG|       cam|  atletico-mg|2015|
|283|     Cruzeiro|       cru|     cruzeiro|2015|
|284|       Grêmio|       gre|       gremio|2015|
|285|Internacional|       int|internacional|2015|
|290|        Goiás|       goi|        goias|2015|
|292|        Sport|       spo|        sport|2015|
|293|  Atlético-PR|       cap|  atletico-pr|2015|
|294|     Coritiba|       cfc|     coritiba|2015|
|303|  Ponte Preta|       pon|  ponte-preta|2015|
|314|         Avaí|       ava|         avai|2015|
|315|  Chapecoense|       cha|  chapecoense|2015|
|316|  Figueirense|       fig|  figueirense|2015|
|317|    Joinville|       jec|    joinville|2015|
+---+-------------+----------+-------------+----+

StructType(List(StructField(ID,StringType,true),StructField(Nome,StringType,true),StructField(Abreviacao,StringType,true),StructField(Slug,StringType,true),StructField(ano,IntegerType,true)))

In [103]:
sorted_times = times_2015_parquet.sort(times_2015_parquet.ID.asc())

In [104]:
sorted_times.show(100)

+---+-------------+----------+-------------+----+
| ID|         Nome|Abreviacao|         Slug| ano|
+---+-------------+----------+-------------+----+
|262|     flamengo|       FLA|     flamengo|2014|
|262|     Flamengo|       fla|     flamengo|2015|
|263|     botafogo|       BOT|     botafogo|2014|
|264|  corinthians|       COR|  corinthians|2014|
|264|  Corinthians|       cor|  corinthians|2015|
|265|        bahia|       BAH|        bahia|2014|
|266|   fluminense|       FLU|   fluminense|2014|
|266|   Fluminense|       flu|   fluminense|2015|
|267|        Vasco|       vas|        vasco|2015|
|275|    palmeiras|       PAL|    palmeiras|2014|
|275|    Palmeiras|       pal|    palmeiras|2015|
|276|    são paulo|       SAO|    sao-paulo|2014|
|276|    São Paulo|       sao|    sao-paulo|2015|
|277|       Santos|       san|       santos|2015|
|277|       santos|       SAN|       santos|2014|
|282|  atlético-mg|       CAM|  atletico-mg|2014|
|282|  Atlético-MG|       cam|  atletico-mg|2015|
|283|     Cruzeiro|       cru|     cruzeiro|2015|
|283|     cruzeiro|       CRU|     cruzeiro|2014|
|284|       grêmio|       GRE|       gremio|2014|
|284|       Grêmio|       gre|       gremio|2015|
|285|internacional|       INT|internacional|2014|
|285|Internacional|       int|internacional|2015|
|287|      vitória|       VIT|      vitoria|2014|
|288|     criciúma|       CRI|     criciuma|2014|
|290|        Goiás|       goi|        goias|2015|
|290|        goiás|       GOI|        goias|2014|
|292|        sport|       SPO|        sport|2014|
|292|        Sport|       spo|        sport|2015|
|293|  Atlético-PR|       cap|  atletico-pr|2015|
|293|  atlético-pr|       CAP|  atletico-pr|2014|
|294|     Coritiba|       cfc|     coritiba|2015|
|294|     coritiba|       CFC|     coritiba|2014|
|303|  Ponte Preta|       pon|  ponte-preta|2015|
|314|         Avaí|       ava|         avai|2015|
|315|  chapecoense|       CHA|  chapecoense|2014|
|315|  Chapecoense|       cha|  chapecoense|2015|
|316|  figueirense|       FIG|  figueirense|2014|
|316|  Figueirense|       fig|  figueirense|2015|
|317|    Joinville|       jec|    joinville|2015|
+---+-------------+----------+-------------+----+

In [105]:
times_2015_parquet = times_2015_parquet.withColumn("ID", times_2015_parquet["ID"].cast(IntegerType()))

In [106]:
times_2015_parquet.schema

StructType(List(StructField(ID,IntegerType,true),StructField(Nome,StringType,true),StructField(Abreviacao,StringType,true),StructField(Slug,StringType,true),StructField(ano,IntegerType,true)))

In [107]:
times_2015_parquet.toPandas()

print(times_2015_parquet.count())

40

## DEMONSTRAÇÃO

In [ ]:
partidas_2014_df = spark.read.csv("/cartola/data/2014/2014_jogadores.csv", header=True)
partidas_2014_ct = partidas_2014_df.withColumn('time', regexp_replace('home_team', ' - RJ', ''))
final_partidas = partidas_2014_ct.withColumn('time_low', lower(col('time'))).show(truncate=False)

In [ ]:
with_ano_partidas = partidas_2014_ct.withColumn('ano', lit(2014)).show(truncate=False)
with_ano_partidas.show()